
{% for content in shop.metaobjects.custom_content.values %}

<div class="page-width image-with-text image-right">
  <div class="image-container">
    {{ content.image | image_url: width: '600' | image_tag: alt: content.image.alt }}
  </div>

  <div class="text-container">
    <h2>{{ content.title }}</h2>
    <p>{{ content.defination }}</p>
  </div>
</div>

{% endfor %}
<style>
    .image-with-text {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .image-right {
        flex-direction: row-reverse;
    }
    .image-container {
        flex: 1;
    }
    .text-container {
        flex: 1;
    }
    @media (max-width: 768px) {
        .image-with-text {
            flex-direction: column;
        }
    }
</style>

{% schema %}
{
    "name": "Image with Text",
    "settings": [
    ],
    "presets": [
        {
            "name": "Custom Content"
        }
    ]
}
{% endschema %}